In [ ]:
 1 ANSWER

In [ ]:
A for loop is used when you want to execute a block of code a specific number of times. For example, you can use a for loop to iterate over a list of items and print each item:

In [2]:
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)

apple
banana
cherry

In [ ]:
a while loop is used when you want to execute a block of code as long as a certain condition is met. For example, you can use a while loop to print the numbers from 1 to 10:

In [3]:
i = 1
while i <= 10:
    print(i)
    i = i + 1

1
2
3
4
5
6
7
8
9
10

In [ ]:
Question 2 ANSWER

In [ ]:
Using for loop:

In [4]:
sum = 0
product = 1
for i in range(1, 11):
    sum += i
    product *= i
print("Sum of first 10 natural numbers:", sum)
print("Product of first 10 natural numbers:", product)

Sum of first 10 natural numbers: 55
Product of first 10 natural numbers: 3628800

In [ ]:
Using while loop:

In [5]:
sum = 0
product = 1
i = 1
while i <= 10:
    sum += i
    product *= i
    i += 1
print("Sum of first 10 natural numbers:", sum)
print("Product of first 10 natural numbers:", product)

Sum of first 10 natural numbers: 55
Product of first 10 natural numbers: 3628800

In [ ]:
Question 3 ANSWER

In [6]:
def electricity_bill(units):
    bill = 0
    if units <= 100:
        bill = units * 4.5
    elif units <= 200:
        bill = (100 * 4.5) + ((units - 100) * 6)
    elif units <= 300:
        bill = (100 * 4.5) + (100 * 6) + ((units - 200) * 10)
    else:
        bill = (100 * 4.5) + (100 * 6) + (100 * 10) + ((units - 300) * 20)
    return bill


units = int(input("Enter the number of units consumed: "))
total_bill = electricity_bill(units)
print("The total electricity bill is:", total_bill)
assert electricity_bill(310) == 2250
cubes_for = []
for i in range(1, 101):
    cube = i**3
    if cube % 4 == 0 or cube % 5 == 0:
        cubes_for.append(cube)

print("Cubes using for loop:", cubes_for)
cubes_while = []
i = 1
while i <= 100:
    cube = i**3
    if cube % 4 == 0 or cube % 5 == 0:
        cubes_while.append(cube)
    i += 1

print("Cubes using while loop:", cubes_while)

Enter the number of units consumed:  310

The total electricity bill is: 2250.0
Cubes using for loop: [8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192, 1000000]
Cubes using while loop: [8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192, 1000000]

In [ ]:
Q 4 ANSWER

In [8]:
##USING FOR LOOP 
numbers = list(range(1, 101))
result = []
for num in numbers:
    cube = num**3
    if cube % 4 == 0 or cube % 5 == 0:
        result.append(cube)
print(result)

##USING WHILE LOOP 

numbers = list(range(1, 101))
result = []
index = 0
while index < len(numbers):
    num = numbers[index]
    cube = num**3
    if cube % 4 == 0 or cube % 5 == 0:
        result.append(cube)
    index += 1
print(result)

[8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192, 1000000]
[8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192, 1000000]

In [ ]:
Q5 ANSWER

In [9]:
string = "I want to become a data scientist"
vowels = "aeiouAEIOU"
count = 0
for char in string:
    if char in vowels:
        count += 1
print("Number of vowels:", count)

Number of vowels: 12